In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import time
import math
import pandas as pd
import requests

In [2]:
#Get 100 pages
page = 100
counter = 0

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

Looking for [chromedriver 95.0.4638.54 win32] driver in cache
File found in cache by path [C:\Users\USER\.wdm\drivers\chromedriver\95.0.4638.54\win32\chromedriver.exe]

In [4]:
list_bathrooms=[]
list_bedrooms=[]
list_rooms_total=[]
list_building_size=[]
list_car_spaces=[]
list_category=[]
list_furnished=[]
list_coordinates=[]
list_location=[]
list_land_size=[]
list_price=[]
list_id=[]
list_subcategory=[]
list_year_built=[]
list_description=[]
list_link=[]

In [5]:
for i in range(0,page):
    counter = counter + 1 
    counter_str = str(counter)
    url = 'https://www.lamudi.com.ph/cavite/tagaytay/house/buy/price:30000000+/?page=' + counter_str
    browser.visit(url)
    time.sleep(1)
    html = browser.html
    soup = bs(html, 'html.parser')
    
    des=[]
    features = soup.find_all('div', class_="ListingCell-AllInfo ListingUnit")
    other_features = soup.find_all('a', class_= 'js-listing-link ellipsis')
    
    for i in features:
        extra_features=soup.find_all('div', class_="ListingCell-shortDescription")
        for i in range(len(extra_features)):
            d=extra_features[i].get_text(strip = True).replace("\n\n", "").replace("\n", " ").replace("\t", "").replace("\xa0", "")
            des.append(d) 
    loc=[]        
    location=soup.find_all('span', class_="ListingCell-KeyInfo-address-text")
    for i in range(len(location)):
        l=location[i].get_text(strip = True).replace("\n\n", "").replace("\n", " ")
        loc.append(l) 
        
    for i in range(0,30):
      
        try:
            bathrooms=features[i]['data-bathrooms']
            list_bathrooms.append(bathrooms)
        except:
            bathrooms="uknown"
            list_bathrooms.append(bathrooms)  
            
        try:    
            bedrooms=features[i]['data-bedrooms']
            list_bedrooms.append(bedrooms)       
        except:
            bedrooms="unknown"
            list_bedrooms.append(bedrooms)
                
        try:
            rooms_total=features[i]['data-rooms_total']
            list_rooms_total.append(rooms_total)
        except:
            rooms_total="unknown"
            list_rooms_total.append(rooms_total)

            
        try:    
            building_size=features[i]['data-building_size']
            list_building_size.append(building_size)
        except:
            building_size="unknown"
            list_building_size.append(building_size)          

            
        try:
            car_spaces=features[i]['data-car_spaces']
            list_car_spaces.append(car_spaces)   
        except:
            car_spaces="unknown"
            list_car_spaces.append(car_spaces)

            
        try:
            category=features[i]['data-category']
            list_category.append(category)
        except:
            category="unknown"
            list_category.append(category)

            
        try:
            furnished=features[i]['data-furnished']
            list_furnished.append(furnished)
        except:
            furnished="unknown"
            list_furnished.append(furnished)

            
        try:
            coordinates=features[i]['data-geo-point']
            list_coordinates.append(coordinates)
        except:
            coordinates="unknown"
            list_coordinates.append(coordinates)
            
        try:
            location=loc[i]
            list_location.append(location)
        except:
            location="unknown"
            list_location.append(location)    

            
        try:
            land_size=features[i]['data-land_size']
            list_land_size.append(land_size)
        except:
            land_size="unknown"
            list_land_size.append(land_size)

            
        try:
            price=features[i]['data-price']
            list_price.append(price)
        except:
            price="unknown"
            list_price.append(price)

            
        try:
            id=features[i]['data-sku']
            list_id.append(id)
        except:
            id="unknown"
            list_id.append(id)

            
        try:
            subcategory=features[i]['data-subcategories']
            list_subcategory.append(subcategory)
        except:
            subcategory="unknown"
            list_subcategory.append(subcategory)

            
        try:
            year_built=features[i]['data-year_built']
            list_year_built.append(year_built)
        except:
            year_built="unknown"
            list_year_built.append(year_built)

            
        try:
            description=des[i]
            list_description.append( description)
        except:
            description="unknown"
            list_description.append( description)

            
        try:
            link=other_features[i]['href']
            list_link.append(link)
        except:
            link="unknown"
            list_link.append(link)

In [6]:
dict = {"bathrooms":list_bathrooms,
        "bedrooms":list_bedrooms,
        "rooms_total":list_rooms_total,
        "building_size":list_building_size,
        "car_spaces":list_car_spaces,
        "category":list_category,
        "furnished":list_furnished,
        "coordinates":list_coordinates,
        "location":list_location,
        "land_size":list_land_size,
        "price":list_price,
        "id":list_id,
        "subcategory":list_subcategory,
        "year_built": list_year_built,
        "description":list_description,
        "link":list_link
        }

In [7]:
df = pd.DataFrame(dict)
df

,bathrooms,bedrooms,rooms_total,building_size,car_spaces,category,furnished,coordinates,location,land_size,price,id,subcategory,year_built,description,link
0,5,5,unknown,461,unknown,house,unknown,"[121.0088385,14.260047]",Tagaytay,306,47000000,HO6099E48BC5D1BPH,"[""house"",""single-family-house""]",unknown,"Weather of Baguio, view of tagaytay, heated po...",unknown
1,6,5,7,652,3,house,unknown,"[121.2567,14.145351]","Calabuso North, Tagaytay",500,40000000,HO5B98D8B6713D2PH,"[""house"",""single-family-house""]",unknown,OVERLOOKING TAAL LAKE and VOLCANOComplete Hous...,unknown
2,5,5,10,1000,6,house,38,"[121.37702,14.143625]","Calabuso, Tagaytay",3152,150000000,NO814HO54NHDINTRESPH,"[""house"",""single-family-house""]",unknown,"House and Lot for Sale with swimming pool, mul...",unknown
3,3,5,7,320,2,house,,"[121.0358238,14.1456011]","Calabuso, Tagaytay",485,35000000,NO310HO94LEJINTRESPH,"[""house"",""single-family-house""]",2016,House with pool in Tagaytay Highlands 3br 5tb ...,unknown
4,11,10,unknown,670,4,house,38,"[120.9673014,14.1179125]","San Jose, Tagaytay",273,32000000,HO5DA299423C60DPH,"[""house"",""single-family-house""]",unknown,Brand newFully furnished10 bedroom all with ow...,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,5,5,unknown,500,unknown,house,unknown,"[121.04211,14.469863]","Marcelo Green Village, Parañaque",350,35000000,HO617C0709D7105PH,"[""house"",""single-family-house""]",unknown,"Price: Php 35,000,000Lot area: 350 SQM Floor a...",unknown
2996,4,4,unknown,400,unknown,house,unknown,"[121.04211,14.469863]","Marcelo Green Village, Parañaque",1131,35000000,HO5E6085B505209PH,"[""house"",""single-family-house""]",unknown,Up for sale is a beautifully renovated 4BR hom...,unknown
2997,5,5,5,400,3,house,39,"[121.04211,14.469863]","Marcelo Green Village, Parañaque",350,35000000,HO6184CD5F4B2F0PH,"[""house"",""single-family-house""]",2021,Sophisticated Inviting Brandnew HOUSE and LOT ...,unknown
2998,3,4,unknown,370,unknown,house,,"[121.04211,14.469863]","Marcelo Green Village, Parañaque",1124,33000000,HO5D0F3EB69E7EEPH,"[""house"",""single-family-house""]",unknown,The Property4-bedroom home meticulously remode...,unknown
2999,uknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,"BF Homes Northwest, Parañaque New 2 Storey Hou...",unknown

In [8]:
df.to_csv('tagaytay_luxuryhouses_csv')

In [9]:
browser.quit()